In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("csvs/s4.csv")

In [3]:
df.HomeTeam.value_counts()

Stoke             19
Man City          19
Man United        19
Tottenham         19
West Ham          19
Southampton       19
Liverpool         19
Watford           19
Huddersfield      19
Arsenal           19
Everton           19
Burnley           19
Brighton          19
West Brom         19
Bournemouth       19
Leicester         19
Chelsea           19
Swansea           19
Crystal Palace    19
Newcastle         19
Name: HomeTeam, dtype: int64

In [4]:
#pd.options.display.max_columns = None
#pd.options.display.max_rows = None

In [5]:
df.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')

In [6]:
df.head(1)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,...,2.32,21,-1.0,1.91,1.85,2.1,2.02,1.49,4.73,7.25

In [7]:
df = df.drop(['Div'], axis = 1)

In [8]:
df.head(1)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,M Dean,...,2.32,21,-1.0,1.91,1.85,2.1,2.02,1.49,4.73,7.25

In [9]:
df.drop(df.columns[31:34], axis = 1, inplace = True)

In [10]:
df.head(1)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,M Dean,...,2.32,21,-1.0,1.91,1.85,2.1,2.02,1.49,4.73,7.25

In [11]:
df.drop(df.columns[40:], axis = 1, inplace = True)

In [12]:
df.head(1)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,M Dean,...,6.5,1.53,4.55,6.85,1.53,4.2,6.0,1.53,4.5,6.5

In [13]:
df.isnull().any()

Date        False
HomeTeam    False
AwayTeam    False
FTHG        False
FTAG        False
FTR         False
HTHG        False
HTAG        False
HTR         False
Referee     False
HS          False
AS          False
HST         False
AST         False
HF          False
AF          False
HC          False
AC          False
HY          False
AY          False
HR          False
AR          False
B365H       False
B365D       False
B365A       False
BWH         False
BWD         False
BWA         False
IWH         False
IWD         False
IWA         False
PSH         False
PSD         False
PSA         False
WHH         False
WHD         False
WHA         False
VCH         False
VCD         False
VCA         False
dtype: bool

In [14]:
df.shape

(380, 40)

In [15]:
df.to_csv('csvs/s4f.csv', index = False)

In [16]:
df = pd.read_csv("csvs/s3.csv")

In [17]:
df.shape

(380, 62)

In [18]:
df.drop(['Div'], axis = 1, inplace = True)

In [19]:
df.head(1)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,A Marriner,...,1.79,17,-0.75,1.75,1.7,2.29,2.21,1.55,4.07,7.69

In [20]:
df.drop(df.columns[40:], axis = 1, inplace = True)

In [21]:
df.head(1)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,A Marriner,...,7.0,1.58,3.93,7.5,1.57,3.8,6.0,1.57,4.0,7.0

In [22]:
df.shape

(380, 40)

In [23]:
df.to_csv('csvs/s3f.csv', index = False)

In [24]:
df = pd.read_csv("csvs/s2.csv")

In [25]:
df.shape

(380, 106)

In [26]:
df.head(1)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.9,1.99

In [27]:
df.drop(['Div', 'Time'], axis = 1, inplace = True)

In [28]:
df.head(1)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,09/08/2019,Liverpool,Norwich,4,1,H,4,0,H,M Oliver,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.9,1.99

In [29]:
df.drop(df.columns[40:], axis = 1, inplace = True)

In [30]:
df.head(1)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,09/08/2019,Liverpool,Norwich,4,1,H,4,0,H,M Oliver,...,18.0,1.15,9.59,18.05,1.12,8.5,21.0,1.14,9.5,23.0

In [31]:
df.shape

(380, 40)

In [32]:
df.to_csv('csvs/s2f.csv', index = False)

In [33]:
df = pd.read_csv("csvs/s1.csv")

In [34]:
df.shape

(380, 106)

In [35]:
df.head(1)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87

In [36]:
df.drop(['Div', 'Time'], axis = 1, inplace = True)

In [37]:
df.head(1)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,12/09/2020,Fulham,Arsenal,0,3,A,0,1,A,C Kavanagh,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87

In [38]:
df.drop(df.columns[40:], axis = 1, inplace = True)

In [39]:
df.head(1)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,12/09/2020,Fulham,Arsenal,0,3,A,0,1,A,C Kavanagh,...,1.57,6.16,4.51,1.56,6.5,4.2,1.53,6.5,4.2,1.55

In [40]:
df.shape

(380, 40)

In [41]:
df.to_csv('csvs/s1f.csv', index = False)

In [42]:
df = pd.concat(map(pd.read_csv, ['csvs/s1f.csv', 'csvs/s2f.csv', 'csvs/s3f.csv', 'csvs/s4f.csv']), ignore_index = True)

In [43]:
df.shape

(1520, 40)

In [44]:
df.to_csv('csvs/final.csv', index = False)