In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('csvs/premodel.csv')

In [3]:
df.sample(5)

,Date,HomeTeam,AwayTeam,AvgBH,AvgBD,AvgBA,FTRn,FTR
2,9,Liverpool,Leeds,1.295000,5.875000,9.820000,1,H
158,1,Crystal Palace,Sheffield United,1.978333,3.383333,3.973333,2,H
1496,5,Everton,Southampton,2.878333,3.281667,2.605000,0,D
994,1,Newcastle,Man City,16.345000,7.361667,1.190000,1,H
1185,9,Tottenham,Swansea,1.233333,6.500000,13.333333,0,D

In [4]:
dummy = pd.get_dummies(df['HomeTeam'])
df = pd.concat([df, dummy], axis = 1)
dummy = pd.get_dummies(df['AwayTeam'])
df = pd.concat([df, dummy], axis = 1)

In [5]:
df.shape

(1520, 62)

In [6]:
df.drop(['HomeTeam', 'AwayTeam'], axis = 1, inplace = True)

In [7]:
df.head(5)

,Date,AvgBH,AvgBD,AvgBA,FTRn,FTR,Arsenal,Aston Villa,Bournemouth,Brighton,...,Norwich,Sheffield United,Southampton,Stoke,Swansea,Tottenham,Watford,West Brom,West Ham,Wolves
0,9,6.110000,4.231667,1.551667,-3,A,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,3.161667,3.181667,2.395000,1,H,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,9,1.295000,5.875000,9.820000,1,H,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,2.155000,3.410000,3.450000,-2,A,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,3.858333,3.515000,1.975000,-3,A,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
train, test = train_test_split(df, test_size = 0.3)

In [10]:
x_train = train.drop(['FTRn', 'FTR'], axis = 1)
x_test = test.drop(['FTRn', 'FTR'], axis = 1)
y_train_reg = train['FTRn']
y_test_reg = test['FTRn']
y_train_class = train['FTR']
y_test_class = test['FTR']

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
lin_reg_model = LinearRegression()

In [13]:
lin_reg_model.fit(x_train, y_train_reg)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
y_pred_linreg = lin_reg_model.predict(x_test)

In [15]:
from sklearn.metrics import mean_squared_error
import math

In [16]:
rmse_linreg = math.sqrt(mean_squared_error(y_test_reg, y_pred_linreg))

In [17]:
rmse_linreg

1.7264652604228305

In [18]:
from sklearn.svm import SVR

In [19]:
svr_model = SVR()

In [20]:
svr_model.fit(x_train, y_train_reg)

C:\Users\dead_phoenix\AppData\Local\Programs\Python\Python37-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [21]:
y_pred_svr = svr_model.predict(x_test)

In [22]:
rmse_svr = math.sqrt(mean_squared_error(y_test_reg, y_pred_svr))

In [23]:
rmse_svr

1.6891487604689603

In [24]:
from sklearn.tree import DecisionTreeRegressor

In [25]:
dtr_model = DecisionTreeRegressor()

In [26]:
dtr_model.fit(x_train, y_train_reg)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [27]:
y_pred_dtr = dtr_model.predict(x_test)

In [28]:
rmse_dtr = math.sqrt(mean_squared_error(y_test_reg, y_pred_dtr))

In [29]:
rmse_dtr

2.5144320275268193

In [30]:
from sklearn.neighbors import KNeighborsRegressor

In [31]:
knn_model = KNeighborsRegressor()

In [32]:
knn_model.fit(x_train, y_train_reg)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [33]:
y_pred_knn = knn_model.predict(x_test)

In [34]:
rmse_knn = math.sqrt(mean_squared_error(y_test_reg, y_pred_knn))

In [35]:
rmse_knn

1.84124290591885

In [36]:
from sklearn.linear_model import ElasticNet

In [37]:
en_model = ElasticNet()

In [38]:
en_model.fit(x_train, y_train_reg)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [39]:
y_pred_en = en_model.predict(x_test)

In [40]:
rmse_en = math.sqrt(mean_squared_error(y_test_reg, y_pred_en))

In [41]:
rmse_en

1.7025881363749846

In [42]:
from sklearn.linear_model import Lasso

In [43]:
lasso_model = Lasso()

In [44]:
lasso_model.fit(x_train, y_train_reg)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [45]:
y_pred_lasso = lasso_model.predict(x_test)

In [46]:
rmse_lasso = math.sqrt(mean_squared_error(y_test_reg, y_pred_lasso))

In [47]:
rmse_lasso

1.7416990785023816

In [48]:
from sklearn.linear_model import Ridge

In [49]:
ridge_model = Ridge()

In [50]:
ridge_model.fit(x_train, y_train_reg)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [51]:
y_pred_ridge = ridge_model.predict(x_test)

In [52]:
rmse_ridge = math.sqrt(mean_squared_error(y_test_reg, y_pred_ridge))

In [53]:
rmse_ridge

1.7222049808230357

In [54]:
def min_rmse():
    rmse_list = [rmse_linreg, rmse_svr, rmse_dtr, rmse_knn, rmse_en, rmse_lasso, rmse_ridge] 
    if(rmse_linreg == min(rmse_list)):
        print('Linear Regression model has the lowest RMSE = ' + str(rmse_linreg))
    elif(rmse_svr == min(rmse_list)):
        print('SVR model has the lowest RMSE = ' + str(rmse_svr))
    elif(rmse_dtr == min(rmse_list)):
        print('Decision Tree Regressor model has the lowest RMSE = ' + str(rmse_dtr))
    elif(rmse_knn == min(rmse_list)):
        print('K Neighbors Regressor model has the lowest RMSE = ' + str(rmse_knn))
    elif(rmse_en == min(rmse_list)):
        print('Elastic Net model has the lowest RMSE = ' + str(rmse_en))
    elif(rmse_lasso == min(rmse_list)):
        print('Lasso model has the lowest RMSE = ' + str(rmse_lasso))
    else:
        print('Ridge model has the lowest RMSE = ' + str(rmse_ridge))

In [55]:
min_rmse()

SVR model has the lowest RMSE = 1.6891487604689603

In [56]:
#elastic net regression and SVR tends to do well with the data