In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [3]:
df = pd.read_csv('csvs/premodel.csv')

In [4]:
df.head(5)

   Date        HomeTeam     AwayTeam     AvgBH     AvgBD     AvgBA  FTRn FTR
0     9          Fulham      Arsenal  6.110000  4.231667  1.551667    -3   A
1     9  Crystal Palace  Southampton  3.161667  3.181667  2.395000     1   H
2     9       Liverpool        Leeds  1.295000  5.875000  9.820000     1   H
3     9        West Ham    Newcastle  2.155000  3.410000  3.450000    -2   A
4     9       West Brom    Leicester  3.858333  3.515000  1.975000    -3   A

In [5]:
y = df['FTRn']
x = df.drop(['FTRn', 'FTR'], axis = 1)

In [6]:
dummy = pd.get_dummies(df['HomeTeam'])
x = pd.concat([x, dummy], axis = 1)
dummy = pd.get_dummies(df['AwayTeam'])
x = pd.concat([x, dummy], axis = 1)

In [7]:
x.drop(['HomeTeam', 'AwayTeam'], axis = 1, inplace = True)

In [8]:
x.columns

Index(['Date', 'AvgBH', 'AvgBD', 'AvgBA', 'Arsenal', 'Aston Villa',
       'Bournemouth', 'Brighton', 'Burnley', 'Cardiff', 'Chelsea',
       'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield', 'Leeds',
       'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle',
       'Norwich', 'Sheffield United', 'Southampton', 'Stoke', 'Swansea',
       'Tottenham', 'Watford', 'West Brom', 'West Ham', 'Wolves', 'Arsenal',
       'Aston Villa', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff',
       'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield',
       'Leeds', 'Leicester', 'Liverpool', 'Man City', 'Man United',
       'Newcastle', 'Norwich', 'Sheffield United', 'Southampton', 'Stoke',
       'Swansea', 'Tottenham', 'Watford', 'West Brom', 'West Ham', 'Wolves'],
      dtype='object')

In [9]:
from sklearn.svm import SVR

In [10]:
svr_model = SVR()

In [11]:
svr_model.fit(x, y)

C:\Users\dead_phoenix\AppData\Local\Programs\Python\Python37-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [12]:
y_pred_svr = svr_model.predict(x)

In [13]:
df['SVR FTRn'] = y_pred_svr

In [14]:
from sklearn.linear_model import ElasticNet

In [15]:
en_model = ElasticNet()

In [16]:
en_model.fit(x, y)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [17]:
y_pred_en = en_model.predict(x)

In [18]:
df['ElasticNet FTRn'] = y_pred_en

In [19]:
df.sample(10)

,Date,HomeTeam,AwayTeam,AvgBH,AvgBD,AvgBA,FTRn,FTR,SVR FTRn,ElasticNet FTRn
535,12,Aston Villa,Leicester,4.285000,3.878333,1.803333,-3,A,-0.587497,-0.259145
313,4,Arsenal,Fulham,1.740000,3.683333,4.980000,0,D,1.023281,0.407408
442,9,Bournemouth,West Ham,2.465000,3.570000,2.776667,0,D,-0.096840,0.062260
28,10,Chelsea,Crystal Palace,1.423333,4.701667,7.673333,4,H,1.198763,0.765155
13,9,Newcastle,Brighton,2.665000,3.103333,2.835000,-3,A,-0.136560,0.046707
1119,4,Man United,Chelsea,2.663333,3.438333,2.695000,0,D,0.050194,0.030153
628,2,Burnley,Arsenal,3.745000,3.520000,2.015000,0,D,-0.083972,-0.173006
1274,11,Arsenal,Huddersfield,1.200000,7.038333,16.238333,5,H,1.887216,1.814542
793,9,Everton,Huddersfield,1.526667,4.083333,7.260000,0,D,1.229302,0.704088
170,1,Wolves,West Brom,1.605000,3.616667,6.753333,-1,A,1.037459,0.634675

In [20]:
from sklearn.externals import joblib

In [21]:
joblib.dump(svr_model, 'models/svr_model.pkl')
joblib.dump(en_model, 'models/en_model.pkl')

['models/en_model.pkl']