In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [3]:
df = pd.read_csv('csvs/premodel.csv')

In [4]:
df.head(5)

   Date        HomeTeam     AwayTeam     AvgBH     AvgBD     AvgBA  FTRn FTR
0     9          Fulham      Arsenal  6.110000  4.231667  1.551667    -3   A
1     9  Crystal Palace  Southampton  3.161667  3.181667  2.395000     1   H
2     9       Liverpool        Leeds  1.295000  5.875000  9.820000     1   H
3     9        West Ham    Newcastle  2.155000  3.410000  3.450000    -2   A
4     9       West Brom    Leicester  3.858333  3.515000  1.975000    -3   A

In [5]:
y = df['FTRn']
x = df.drop(['FTRn', 'FTR'], axis = 1)

In [6]:
dummy = pd.get_dummies(df['HomeTeam'])
x = pd.concat([x, dummy], axis = 1)
dummy = pd.get_dummies(df['AwayTeam'])
x = pd.concat([x, dummy], axis = 1)

In [7]:
x.drop(['HomeTeam', 'AwayTeam'], axis = 1, inplace = True)

In [8]:
x.columns

Index(['Date', 'AvgBH', 'AvgBD', 'AvgBA', 'Arsenal', 'Aston Villa',
       'Bournemouth', 'Brighton', 'Burnley', 'Cardiff', 'Chelsea',
       'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield', 'Leeds',
       'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle',
       'Norwich', 'Sheffield United', 'Southampton', 'Stoke', 'Swansea',
       'Tottenham', 'Watford', 'West Brom', 'West Ham', 'Wolves', 'Arsenal',
       'Aston Villa', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff',
       'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield',
       'Leeds', 'Leicester', 'Liverpool', 'Man City', 'Man United',
       'Newcastle', 'Norwich', 'Sheffield United', 'Southampton', 'Stoke',
       'Swansea', 'Tottenham', 'Watford', 'West Brom', 'West Ham', 'Wolves'],
      dtype='object')

In [9]:
from sklearn.svm import SVR

In [10]:
svr_model = SVR()

In [11]:
svr_model.fit(x, y)

SVR()

In [12]:
y_pred_svr = svr_model.predict(x)

In [13]:
df['SVR FTRn'] = y_pred_svr

In [14]:
from sklearn.linear_model import ElasticNet

In [15]:
en_model = ElasticNet()

In [16]:
en_model.fit(x, y)

ElasticNet()

In [17]:
y_pred_en = en_model.predict(x)

In [18]:
df['ElasticNet FTRn'] = y_pred_en

In [19]:
df.sample(10)

,Date,HomeTeam,AwayTeam,AvgBH,AvgBD,AvgBA,FTRn,FTR,SVR FTRn,ElasticNet FTRn
1299,12,Southampton,Arsenal,3.908333,3.640000,1.955000,0,D,-0.387170,-0.198579
1484,4,Burnley,Brighton,2.205000,3.166667,3.735000,0,D,0.301228,0.206148
1202,9,Huddersfield,Tottenham,8.340000,4.716667,1.395000,-4,A,-1.429597,-0.764743
552,12,Bournemouth,Burnley,2.425000,3.385000,2.951667,-1,A,0.041644,0.087693
1142,8,Chelsea,Burnley,1.241667,6.208333,14.041667,-1,A,1.672295,1.547164
1009,2,West Ham,Liverpool,7.878333,5.136667,1.385000,0,D,-0.985717,-0.713935
416,8,West Ham,Norwich,1.881667,3.896667,3.931667,2,H,0.482508,0.266087
99,12,Man City,Fulham,1.111667,9.871667,21.771667,2,H,2.100402,2.486185
1127,5,Chelsea,Watford,1.395000,4.981667,8.296667,3,H,1.526316,0.842887
1399,2,Watford,Chelsea,5.983333,4.008333,1.610000,3,H,-0.728507,-0.473570

In [21]:
import joblib

In [22]:
import os
if os.path.exists("models/svr_model.pkl"):
    os.remove("models/svr_model.pkl")
else:
    print("The file does not exist")

if os.path.exists("models/en_model.pkl"):
    os.remove("models/en_model.pkl")
else:
    print("The file does not exist")

In [23]:
joblib.dump(svr_model, 'models/svr_model.pkl')
joblib.dump(en_model, 'models/en_model.pkl')

['models/en_model.pkl']