In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv('csvs/premodel.csv')

In [29]:
df.sample(5)

,Date,HomeTeam,AwayTeam,AvgBH,AvgBD,AvgBA,FTRn,FTR
1313,12,Leicester,Crystal Palace,1.878333,3.600000,4.405000,-3,A
1236,10,West Brom,Man City,11.818333,6.430000,1.256667,-1,A
16,9,Aston Villa,Sheffield United,2.711667,3.133333,2.746667,1,H
1290,12,Burnley,Watford,2.528333,3.218333,3.010000,1,H
19,9,Crystal Palace,Everton,3.728333,3.265000,2.111667,-1,A

In [30]:
dummy = pd.get_dummies(df['HomeTeam'])
df = pd.concat([df, dummy], axis = 1)
dummy = pd.get_dummies(df['AwayTeam'])
df = pd.concat([df, dummy], axis = 1)

In [31]:
df.shape

(1520, 62)

In [32]:
df.drop(['HomeTeam', 'AwayTeam'], axis = 1, inplace = True)

In [33]:
df.head(5)

,Date,AvgBH,AvgBD,AvgBA,FTRn,FTR,Arsenal,Aston Villa,Bournemouth,Brighton,...,Norwich,Sheffield United,Southampton,Stoke,Swansea,Tottenham,Watford,West Brom,West Ham,Wolves
0,9,6.110000,4.231667,1.551667,-3,A,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,3.161667,3.181667,2.395000,1,H,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,9,1.295000,5.875000,9.820000,1,H,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,2.155000,3.410000,3.450000,-2,A,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,3.858333,3.515000,1.975000,-3,A,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
train, test = train_test_split(df, test_size = 0.3)

In [36]:
x_train = train.drop(['FTRn', 'FTR'], axis = 1)
x_test = test.drop(['FTRn', 'FTR'], axis = 1)
y_train_reg = train['FTRn']
y_test_reg = test['FTRn']
y_train_class = train['FTR']
y_test_class = test['FTR']

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
logreg_model = LogisticRegression()

In [39]:
logreg_model.fit(x_train, y_train_class)

C:\Users\dead_phoenix\AppData\Local\Programs\Python\Python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\dead_phoenix\AppData\Local\Programs\Python\Python37-32\lib\site-packages\sklearn\linear_model\logistic.py:459: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [40]:
y_predict_logreg_class = logreg_model.predict(x_test)

In [41]:
from sklearn import metrics

In [42]:
metrics.accuracy_score(y_predict_logreg_class, y_test_class)

0.506578947368421

In [45]:
from sklearn.metrics import f1_score

In [46]:
f_logreg_class = f1_score(y_test_class, y_predict_logreg_class, average = 'weighted')

In [47]:
f_logreg_class

0.4572983560452553

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
rfc_model = RandomForestClassifier()

In [50]:
rfc_model.fit(x_train, y_train_class)

C:\Users\dead_phoenix\AppData\Local\Programs\Python\Python37-32\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [51]:
y_pred_rfc = rfc_model.predict(x_test)

In [52]:
metrics.accuracy_score(y_pred_rfc, y_test_class)

0.42543859649122806